<!DOCTYPE html>
<html>
<head>
<title>Instachat</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>

</head>

<body>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="card text-center mt-4 mb-4">
        <div class="card-body">
          <% if current_user %>
            Welcome to Instachat, <b><%= current_user.nickname %></b>!
            <%= link_to 'Delete this user', user_path(current_user.id), method: :delete,
                        data: { confirm: 'Are you sure you want to delete the user?' }, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Welcome to the chat! Create a new user and join!', new_user_path, class: 'btn btn-primary btn-lg' %>
          <% end %>
        </div>
      </div>

      <div class="row">

        <div class="col-md-9">
          <%= yield %>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-header font-weight-bold">Online:</div>
            <div class="card-body" id="online-users">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
